@attribute [Authorize]
@layout Shared.DefaultLayout
@attribute [Route($"{Constants.IdentityRoutePreifix}/{nameof(CompanyCalendarMudPage)}")]
@using ShiftSoftware.ShiftEntity.Model.Dtos
@using ShiftSoftware.ShiftIdentity.Core.DTOs.CompanyCalendar
@using ShiftSoftware.ShiftIdentity.Core.Enums
@inject ShiftIdentityLocalizer Loc

@* Toolbar: month nav + filters + actions *@
<MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mb-2 flex-wrap" Spacing="2">

    <MudStack Row Spacing="2">
        <MudItem Style="min-width: 200px;">
            <ShiftAutocomplete Label="@Loc["Company"]"
                               TEntitySet="ShiftSoftware.ShiftIdentity.Core.DTOs.Company.CompanyListDTO"
                               EntitySet="@($"{Constants.IdentityRoutePreifix}Company")"
                               Value="_selectedCompany"
                               ValueChanged="OnCompanyChanged" />
        </MudItem>
        <MudItem Style="min-width: 200px;">
            <ShiftAutocomplete Label="@Loc["Branch"]"
                               TEntitySet="ShiftSoftware.ShiftIdentity.Core.DTOs.CompanyBranch.CompanyBranchListDTO"
                               EntitySet="@($"{Constants.IdentityRoutePreifix}CompanyBranch")"
                               Disabled="_selectedCompany?.Value is null"
                               Filter="x => x.Add(f => { f.Field = nameof(ShiftSoftware.ShiftIdentity.Core.DTOs.CompanyBranch.CompanyBranchListDTO.CompanyId); f.Value = _selectedCompany?.Value; })"
                               Value="_selectedBranch"
                               ValueChanged="OnBranchChanged" />
        </MudItem>
        <MudItem Style="min-width: 200px;">
            <ShiftAutocomplete Label="@Loc["Department"]"
                               TEntitySet="ShiftSoftware.ShiftIdentity.Core.DTOs.Department.DepartmentListDTO"
                               EntitySet="@($"{Constants.IdentityRoutePreifix}Department")"
                               Disabled="_selectedCompany?.Value is null"
                               Value="_selectedDepartment"
                               ValueChanged="OnDepartmentChanged" />
        </MudItem>
    </MudStack>

    @* <MudButton Variant="Variant.Text" Size="Size.Small"
                       OnClick="GoToToday"
                       Disabled="_selectedCompany?.Value is null">
                @Loc["Today"]
            </MudButton> *@

    <div style="display: flex; align-self:end;">
        <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft"
                       OnClick="PreviousMonth"
                       Variant="Variant.Filled"
                       Size="Size.Small"
                       Color="Color.Primary" />
        <MudText Typo="Typo.subtitle1" Style="min-width: 120px; text-align: center;">
            @_currentMonth.ToString("MMMM yyyy")
        </MudText>
        <MudIconButton Icon="@Icons.Material.Filled.ChevronRight"
                       Size="Size.Small"
                       OnClick="NextMonth"
                       Variant="Variant.Filled"
                       Color="Color.Primary" />
    </div>
        
</MudStack>


@if (_loading)
{
    <MudProgressLinear Indeterminate Color="Color.Primary" />
}

@* Calendar Grid *@
<div>
    <MudSimpleTable Dense Style="width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                @foreach (var dayName in _dayHeaders)
                {
                    <th class="text-center" style="width: 14.28%; padding: 6px 4px; font-weight: 600;">@dayName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var week in _weeks)
            {
                <tr>
                    @foreach (var day in week)
                    {
                        <td class="calendar-cell @(day.IsCurrentMonth ? "" : "other-month") @(day.IsToday ? "today-cell" : "")"
                            @onclick="() => OnDayClicked(day.Date)">
                            <div class="day-number">
                                @day.Date.Day
                            </div>
                            <div class="events-container">
                                @foreach (var evt in day.Events.Take(3))
                                {
                                    <div class="event-chip @GetEventCssClass(evt)"
                                         @onclick="() => OnEventClicked(evt.Id)"
                                         @onclick:stopPropagation="true"
                                         title="@evt.ExtendedProps?.CalendarTitle">
                                        @evt.Title
                                    </div>
                                }
                                @if (day.Events.Count > 3)
                                {
                                    <div class="more-label">+@(day.Events.Count - 3) @Loc["more"]</div>
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>