@attribute [Authorize]
@layout Shared.DefaultLayout
@attribute [Route($"{Constants.IdentityRoutePreifix}/{nameof(CompanyList)}")]
@using ShiftSoftware.ShiftIdentity.Core.DTOs.Company;
@inject ShiftIdentityLocalizer Loc

<ShiftList EntitySet="@($"{Constants.IdentityRoutePreifix}Company")"
           Title="@Loc["Company List"]"
           T="CompanyListDTO"
           ComponentType="typeof(CompanyForm)"
           Dense
           TypeAuthAction="ShiftIdentityActions.Companies"
           EnableExport>

    <PropertyColumn Property="x => x.Name" Title="@Loc["Name"]" />
    <PropertyColumn Property="x => x.LegalName" Title="@Loc["Legal Name"]" />
    <PropertyColumn Property="x => x.ShortCode" Title="@Loc["Short Code"]" />
    <PropertyColumn Property="x => x.IntegrationId" Title="@Loc["Integration ID"]" />

    <PropertyColumn Title="@Loc["Company Type"]" Property="x=> x.CompanyType">
        <CellTemplate>
            <span>@context!.Item!.CompanyType!.Describe()</span>
        </CellTemplate>
    </PropertyColumn>
</ShiftList>